.profile-card {
  max-width: 400px;
  margin: 10px;
}

.profile-card mat-card-title {
  margin-top: 6px;
  font-size: 17px;
}

.profile-card mat-card-title {
  font-size: 17px;
}

.profile-card mat-card-title span,
.profile-card mat-card-subtitle span{
  font-weight: bold;
}

.material-icons.md-48 { font-size: 48px; }

