<mat-card class="profile-card">
  <mat-card-header>
    <i mat-card-avatar class="material-icons md-48">account_circle</i>
    <mat-card-title><span>Usuario:</span> {{user}}</mat-card-title>
    <mat-card-subtitle><span>Roles:</span> {{roles}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
