<mat-toolbar>Editar Roles de Usuario</mat-toolbar>

<mat-divider></mat-divider>

<div class="example-container">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required [(ngModel)]="id">
    </mat-form-field>
  </div>

  <div class="grid-container-3">
    <div>
      <mat-form-field class="ancho-100">
        <input matInput placeholder="Nombre" required [(ngModel)]="nombreBypass" disabled>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="ancho-100">
        <mat-select placeholder="Elegir roles" [(ngModel)]="idRolSeleccionado">
          <mat-option *ngFor="let rol of roles" [value]="rol.idRol">
            {{rol.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button class="ancho-100" mat-stroked-button color="primary" type="button" (click)="agregarRol()">Agregar</button>
    </div>
  </div>

  <div class="grid-container-2">
    <div><mat-card>Roles Actuales: {{aa}}</mat-card></div>
    <div><mat-card>Nuevo Roles</mat-card></div>
  </div>

  <div class="grid-container-2">
    <div>
      <mat-card>
        <mat-nav-list>
          <mat-list-item #aa *ngFor="let r of rolesBypass; let i=index">
            <a matLine>{{r.nombre}}</a>
            <button mat-icon-button (click)="removerRolBypass(i)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>

      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-nav-list>
          <mat-list-item  *ngFor="let d of rolesSeleccionados; let i=index">
            <a matLine>{{d.nombre}}</a>
            <button mat-icon-button (click)="removerRol(i)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>

  <button mat-raised-button color="primary" type="button" (click)="operar()">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/menu-rol' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>

</div>
