<mat-card>Ingrese los signos vitales del paciente</mat-card>

<br/>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #loginForm="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <div class="grid-container">
    <div>
      <mat-form-field class="ancho-100">
        <!-- input matInput placeholder="Paciente" required formControlName="paciente" -->
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente" [formControl]="myControlPaciente" formControlName="paciente" [value]="strPacienteRecovered">
        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn" (optionSelected)="seleccionarPaciente($event)">
          <mat-option *ngFor="let p of filteredOptions | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button class="ancho-100" mat-stroked-button color="primary" type="button" (click)="openDialog()" id="botonDialog">Nuevo Paciente</button>
    </div>
  </div>

  <mat-form-field class="example-full-width">
    <!-- [(ngModel)]="fechaSigno" -->
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" [formControl]="fechaSigno">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Temperatura" required formControlName="temperatura" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo" required formControlName="ritmo" type="number">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signo' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>

<br/>
