.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 90%;
}

.ancho-100 {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% auto;
  grid-column-gap: 10px;
  padding: 0px;
  margin: 0px;
}
.grid-container>div {
  /*padding:20px 0;*/
  padding: 0px;
  margin: 0px;
}
